.hero-area {
    position: relative; 
}

.hero-area::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 68%);
    left: 0;
    right: 0;
    top: 0;
    z-index: 1; 
}

.carousel-item-text{ 
    z-index: 11;
    bottom: 50%;
    transform: translateY(50%);
}

.ban-image {
    height: 700px;
    width: 100%;
    object-fit: cover;
}